---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title='About | Devon Vendetti' description='About Devon Vendetti'>
  <div class='stack gap-20'>
    <main class='wrapper about'>
      <Hero title='About Me' tagline='Thanks for stopping by!'>
        <img
          width='480'
          height='620'
          src='/assets/about.jpg'
          alt='Another selfie of Devon Vendetti'
        />
      </Hero>

      <section>
        <h2 class='section-title'>Background</h2>
        <div class='content'>
          <p>
            Currently living in fabulous Las Vegas. Love gaming and I have
            always enjoyed coding in my spare time and kicked it up a notch
            during the pandemic lockdown. Let's just say freeCodeCamp and Udemy
            were my best friends. It has been an interesting ride from the
            pandemic until now. I've dabbled in Python, JavaScript, TypeScript,
            C#, C++, Rust, and Go.
          </p>
          <p>
            My primary objective is to leverage my newly acquired development
            skills to design and create highly efficient marketing tools for the
            casino industry. My aim is to facilitate better communication and
            collaboration between Marketing Executives and developers, enabling
            us to achieve more with fewer resources. Ultimately, I aspire to
            bridge the gap between these two teams and help streamline the
            development process, resulting in more effective and marketing
            campaigns.
          </p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Certifications</h2>
        <div class='content'>
          <p>Microsoft Azure Fundamentals</p>
          <p>FreeCodeCamp Responsive Web Design</p>
          <p>FreeCodeCamp JavaScript Data Structures & Algorithms</p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Udemy Courses</h2>
        <div class='content'>
          <p>
            <ul>
              <li>Modern Python 3 - Colt Steele</li>
              <li>HTML & CSS - Colt Stelle</li>
              <li>Modern Javascript - Steele / Grider</li>
              <li>Linux Command Line - Colt Steele</li>
              <li>Git & Github - Colt Steele</li>
              <li>Go: Dev's Guide - Stephen Grider</li>
              <li>Working w/React & Go - Trevor Sawler</li>
              <li>Full Stack Blockchain - David Katz</li>
              <li>AZ-204: Azure Developer - Scott Duffy</li>
            </ul>
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    margin-left: auto;
    margin-right: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content p {
    margin-bottom: 10px;
  }

  .content ul {
    margin-top: -10px;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
